extends ../layouts/default.pug

block main
  .row
    .col-12
      .card
        .card-header
          .row.align-items-center
            .col
                h4.card-title #{pageTitle} 
            // end col
            .col-auto
              a.btn.btn-secondary(
                href=`/${pathAdmin}/booking/list`
                )
                <i class="fa-solid fa-arrow-left me-1"></i>
                | Quay lại danh sách
          // end row
        // end card-header
        .card-body.pt-0
            //- Table
            .table-responsive
                table.table.table-striped.mb-0
                    thead.table-light
                        tr
                            th STT
                            th Tên khách hàng
                            th SĐT khách hàng
                            th Tên dịch vụ
                            th Đơn vị
                            th Ngày sử dụng dịch vụ
                            th Giá dịch vụ
                            th Khách đã cọc
                            th Khách thanh toán
                            th Trạng thái
                            th.text-end Hành động
                    tbody
                        if(bookingList.length > 0)
                            each item, index in bookingList
                                tr
                                td #{index + 1}
                                td #{item.contactName}
                                td #{item.contactPhone}
                                td #{item.name}
                                td #{item.unit}
                                td #{item.formatedDate}
                                td #{item.price}
                                td 500
                                td #{item.pay}
                                td
                                    if (item.status == "success")
                                        span.badge.bg-success Hoàn thành
                                    if (item.status == "unsuccess")
                                        span.badge.bg-secondary Chưa Hoàn thành
                                    else if (item.status == "guarantee")
                                        span.badge.bg-warning Bảo hành
                                    else if (item.status == "cancel")
                                        span.badge.bg-danger Hủy
                                td.text-end
                                    a(
                                        href="javascript:;"
                                        button-api
                                        data-method="PATCH"
                                        data-api=`/${pathAdmin}/booking/undo/${item.contactId}/${item._id}`
                                        class="me-1"
                                        style="font-size: 20px"
                                        )
                                        i.las.la-undo.text-info.font-16.me-1
                                    a(
                                        href="javascript:;"
                                        button-api
                                        data-method="DELETE"
                                        data-api=`/${pathAdmin}/booking/destroy/${item.contactId}/${item._id}`
                                        style="font-size: 20px"
                                        )
                                        i.las.la-trash-alt.text-danger.font-16
                        else
                            tr
                                td(colspan="6" class="text-center") Không tìm thấy dữ liệu