extends ../layouts/default.pug

block main
  .row
    .col-12
      .card
        .card-header
          .row.align-items-center
            .col
              h4.card-title #{pageTitle}
            // end col
            .col-auto
              a.btn.btn-info.me-1(
                href=`/${pathAdmin}/booking/list/trashList`
                )
                i.las.la-trash-alt.me-1
                | Thùng rác đơn khám
          // end row
        // end card-header
        .card-body.pt-0
          .row
            .col-lg-6
              form.input-group.mb-3(form-search)
                input.form-control(
                  placeholder="Nhập SĐT..."
                  type="text"
                  name="keyword"
                  )
                button.btn.btn-secondary Tìm kiếm
            .col-lg-6
              .input-group.mb-3
                select.form-select(name="bulk-status" style="width: 160px;")
                  option(value="") -- Đổi trạng thái --
                  option(value="success") Hoàn thành
                  option(value="unsuccess") Chưa hoàn thành
                  option(value="guarantee") Bảo hành
                  option(value="cancel") Hủy
                button.btn.btn-primary(type="button" id="bulk-status-confirm") Xác nhận
          //- Table
          .table-responsive
            table.table.table-striped.mb-0
              thead.table-light
                tr
                  th
                    input(type="checkbox" id="check-all" check-all)
                  th STT
                  th Tên khách hàng
                  th SĐT khách hàng
                  th Tên dịch vụ
                  th Đơn vị
                  th Ngày khám
                  th Giá dịch vụ
                  th Khuyến mãi
                  th Khách đã cọc
                  th Khách thanh toán
                  th Tổng đơn khám
                  th Trạng thái
                  th.text-end Hành động
              tbody
                if(bookingList.length > 0)
                  each item, index in bookingList
                    tr
                      td
                        input(type="checkbox" name="bookingIds" value=item._id)
                      td #{pagination.skip + index + 1}
                      td #{item.contactName}
                      td #{item.contactPhone}
                      td
                        if item.services && item.services.length > 0
                          ul.mb-0.list-unstyled
                            each sv in item.services
                              li #{sv.name}
                      td
                        if item.services && item.services.length > 0
                          ul.mb-0.list-unstyled
                            each sv in item.services
                              li #{sv.unit}
                      td #{item.formatedDate}
                      td
                        if item.services && item.services.length > 0
                          ul.mb-0.list-unstyled
                            each sv in item.services
                              li #{sv.price}
                      td  #{item.promotion}
                      td #{item.deposit}
                      td #{item.pay}
                      td #{item.total}
                      td
                        if (item.status == "success")
                          span.badge.bg-success Hoàn thành
                        if (item.status == "unsuccess")
                          span.badge.bg-secondary Chưa Hoàn thành
                        else if (item.status == "guarantee")
                          span.badge.bg-warning Bảo hành
                        else if (item.status == "cancel")
                          span.badge.bg-danger Hủy
                      td.text-end
                        a(href=`/${pathAdmin}/booking/view/${item.contactId}/${item._id}` style="font-size: 20px")
                            i.las.la-eye.text-info.font-16.me-1
                        a(href=`/${pathAdmin}/booking/edit/${item.contactId}/${item._id}` style="font-size: 20px")
                            i.las.la-pen.text-warning.font-16.me-1
                        a(
                            href="javascript:;"
                            button-api
                            data-method="PATCH"
                            data-api=`/${pathAdmin}/booking/delete/${item.contactId}/${item._id}`
                            style="font-size: 20px"
                            )
                            i.las.la-trash-alt.text-danger.font-16
                else
                  tr
                    td(colspan="12" class="text-center") Không tìm thấy dữ liệu
          .row.mt-3
            .col-lg-2.col-md-3.col-6
              select.form-select(pagination)
                - for (let i = 1; i <= pagination.totalPage; i++)
                  option(value=i) Trang #{i}
    // end col
