extends ../layouts/default.pug

block main
  .row
    .col-12
      .card
        .card-header
          .row.align-items-center
            .col
              h4.card-title #{pageTitle}
            // end col
            .col-auto
              a.btn.btn-info(
                href=`/${pathAdmin}/contact/list`
                )
                <i class="fa-solid fa-arrow-left me-1"></i>
                | Quay lại danh sách
          // end row
        // end card-header
        .card-body.pt-0
          //- Table
          .table-responsive
            table.table.table-striped.mb-0
              thead.table-light
                tr
                  th STT
                  th Tên khách hàng
                  th Số điện thoại
                  th Ngày sinh nhật
                  th Giới tính
                  th.text-end Hành động
              tbody
                each item, index in recordList
                  tr
                    td #{index + 1}
                    td #{item.fullName}
                    td #{item.phone}
                    td #{item.dob}
                    td
                      if (item.sex == "male")
                        span.badge.bg-info Nam
                      else if (item.sex == "female")
                        span.badge.bg-pink Nữ
                      else if (item.sex == "other")
                        span.badge.bg-success Khác
                    td.text-end
                      a(
                        href="javascript:;"
                        button-api
                        data-method="PATCH"
                        data-api=`/${pathAdmin}/contact/undo/${item._id}`
                        class="me-1"
                        style="font-size: 20px"
                        )
                        i.las.la-undo.text-info.font-16.me-1
                      a(
                        href="javascript:;"
                        button-api
                        data-method="DELETE"
                        data-api=`/${pathAdmin}/contact/destroy/${item._id}`
                        style="font-size: 20px"
                        )
                        i.las.la-trash-alt.text-danger.font-16
    // end col
